certifi==2022.6.15
charset-normalizer==2.1.1
docopt==0.6.2
idna==3.3
peewee==3.15.2
pipreqs==0.4.11
PyMySQL==1.0.2
pyTelegramBotAPI==4.7.0
python-decouple==3.6
requests==2.28.1
urllib3==1.26.12
yarg==0.1.9
